body{
    font-family: 'Permanent Marker', cursive;
}

.indexbody{
    background-image: url("/image/signupimage.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
.content {
    max-width: 500px;
    margin: auto;
  }

.check{
    height: 15px;
    width: 15px;
    margin: 15px 5px;
}
input{
	background-color: #F7F8FB;
	height: 55px;
	width: 400px;
}
button{
    background-color: limegreen;
    color: white;
    width: 400px;
    height: 55px;
    margin-top: 15px 0px;
    /* border: none; */
}

button:hover{
    background-color: red;
    transition-duration: 2s;
}
.signup{
    font-size: 25px;
    padding-left: 100px;
}
.details{
    padding-left: 25px;
}

.formmargin{
    margin-top: 15px;
}
a{
    color: lime;
    text-decoration: none;
}
.Dont{
    color: yellow;
}
.Agree{
    color: yellow;
}
.Remember{
    font-size: 15px;
}
.login{
    font-size: 25px;
    padding-left: 150px;
}

.aboutusheader{
    display: flex;
    justify-content: center;
    margin: auto;
}

.aboutusspan{
    max-width: 600px;
    display: flex;
    justify-content: center;
    margin: auto;
}


.components{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: center;
}

.forsale{
    margin-top: 50px;
    height: 300px;
    width: 300px;
}

.img{
    width: 300px;
    height: 200px;
}

.imageee{
    background-image: url('../image/About.jpeg');
    background-color: #cccccc;
}

.aboutt{
    color: limegreen;
    width: 30%;
    margin-top: 200px;
}